/*App stuffs*/
.App {
  text-align: center;
}

.App-header {
  background-color: #F4AC32;
  height: 60px;
  color: #1E91D6;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(50px, auto);

}

.app-title {
  grid-column: 1;
  grid-row: 1;
}

#auto {
  width: 80%;
  max-width: 500px;
  height: 50px;
  font-size: 1.5em;
  font-family: inherit;
  text-align: center;
}

.group-button {
  width: 64px;
  height: 64px;
  margin: 10px auto;
}

.enter {
  background: url('https://s3-us-west-1.amazonaws.com/zuck-bucket/arrow-up-orange.png') center no-repeat;
}

.create {
  background: url('https://s3-us-west-1.amazonaws.com/zuck-bucket/tick.png') center no-repeat;
}

.make-new-group {
  grid-column: 3;
  grid-row: 1;
  margin: 10px;
  border-radius: 25px;
  background-color: #8FC93A;

  align-self: center;
  padding: 10px;
  text-decoration: none;
  color: #1E91D6;
  /*0072BB*/
}

.new-group-welcome {
  border-radius: 25px;
  background-color: #8FC93A;
  text-decoration: none;
  font-size: 2em;
  color: #1E91D6;

  padding: 20px;
  display: inline-block;
  margin: 30px auto;
}

.vote-page {
  color: #F4AC32
}


/*Options stuff*/

.option-card {
  transition: all 1.5s ease;
  position: absolute;
  /*grid-column: 2;*/
  width: 400px;
  height: 125px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.option-vote-total {
  justify-self: center;
  align-self: center;
  font-size: 4em;
}

.option-location {
  justify-self: center;
  align-self: center;
}

.option-vote-button {
  display: inline-block;
  margin: 20px;
  border-radius: 30px;
  justify-self: center;
  align-self: center;
}

.option-container {
  margin: 0 auto;
  width: 400px;
  /*display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);*/
}

.selected {
  /*margin-top: 150px;*/
  background-color: #F5B82E;
  color: #0072BB;
  /*grid-row: 1;*/
}

.selected .option-vote-button {
  border: none;
}

.order0 {
  margin-top: 20px
}

.order1 {
  margin-top: 150px
}

.order2 {
  margin-top: 300px
}






