/*App stuffs*/
.App {
  text-align: center;
}

.App-header {
  background-color: #F4AC32;
  height: 60px;
  color: #1E91D6;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(50px, auto);

}

.app-title {
  grid-column: 1;
  grid-row: 1;
}

#auto {
  width: 80%;
  max-width: 500px;
  height: 50px;
  font-size: 1.5em;
  font-family: inherit;
  text-align: center;
}

.group-button {
  width: 64px;
  height: 64px;
  margin: 10px auto;
}

.enter {
  background: url('https://s3-us-west-1.amazonaws.com/zuck-bucket/arrow-up-orange.png') center no-repeat;
}

.create {
  background: url('https://s3-us-west-1.amazonaws.com/zuck-bucket/tick.png') center no-repeat;
}

.make-new-group {
  grid-column: 3;
  grid-row: 1;
  margin: 10px;
  border-radius: 25px;
  background-color: #8FC93A;

  align-self: center;
  padding: 10px;
  text-decoration: none;
  color: #1E91D6;
  /*0072BB*/
}

.new-group-welcome {
  border-radius: 25px;
  background-color: #8FC93A;
  text-decoration: none;
  font-size: 2em;
  color: #1E91D6;

  padding: 20px;
  display: inline-block;
  margin: 30px auto;
}

.orange-text {
  color: #F4AC32
}


/*Options stuff*/

.option-card {
  transition: all 1.5s ease;
  position: absolute;
  width: 400px;
  height: 125px;
}

.option-vote-total {
  display: inline-block;
  position: relative;
  bottom: 35px;
  left: 20px;
  font-size: 4em;
  margin: 0;
}

.option-location {
  position: relative;
  display: inline-block;
  bottom: 50px;
  width: 200px;
  padding-left: 30px;
  font-size: 1.1em;
}

.option-vote-button {
  display: inline-block;
  width: 85px;

  margin: 20px;
}

.option-container {
  margin: 0 auto;
  width: 400px;
  position: relative;
}

.selected {
  background-color: #F5B82E;
  color: #0072BB;
}

.filter-section {
  margin: 0 auto;
  width: 400px;
}

/*.filter-section div {
  width: 200px;
  height: 100px;
  background-color: #8FC93A;
  color: #0072BB;
  margin: 0 auto;
}*/

.filter-option {
  position: relative;
}

.flipped {
  transform: rotate(0.5turn);
}



